
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040403;
  text-align: center;
}

h1, h2 {
  font-size: x-large;
  color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}